#app {
	margin: 0 auto;
	height: 100vh;
}

nav {
	padding: 20px 0px 20px 0px;
}

.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}

.container {
	display: flex;
	flex-direction: column;
	justify-items: center;
}

.delete-item {
	cursor: pointer;
	color: tomato;
	opacity: 0;
	transition: 0.2s ease-in-out;
}
.item:hover .delete-item {
	opacity: 1;
}

.bg-marvel {
	background-color: darkred;
	color: white;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 18rem;
}

footer {
	background-color: currentColor;
}
